* {
    font-family: Palatino, "Book Antiqua", "URW Palladio L", serif;
    letter-spacing: 0.05em;
}

body { 
    padding: 1.5em 0 0 0;
}

h1 {
    margin: 1em;
}

h1 img {
    margin: -0.8em 1em 1em 0;
    float: left;
}

h1 a {
    text-decoration: none;
}

#entry {
    font-size: 13pt;
}

#entry img {
    margin: 1em;
}

#comments {
    text-align: justify;
    border-top: 1px grey solid;
    font-size: 11pt;
    padding: 3em;
}

#comments dd {
    margin-bottom: 1em;
}

#entry, #comments, #entries, #wrapper, #books, #resume {
    width: 40em;
    margin-left: 5em;
    text-align: justify;
    line-height: 165%;
}

#entries li {
    margin: 0.5em;
}

.footnotes {
    font-size: 88%;
    border-top: 1px solid grey;
}

ul.spaced li {
    margin-bottom: 1.5em;
}

#footer {
    margin-top: 2em;
    border-top: 1px grey solid;
}

#footer p {
    text-align: center;
}

#footer img {
    border: 0;
}

img.portrait {
    margin-top: -3em;
    margin-left: 3em;
}

a { 
    text-decoration: none;
    color: #31674b;
}

a:hover { 
    text-decoration: underline;
    color: #11472b;
}

a img { border: 0; }

a.older, a.newer {
    size: 80%;
}

pre, pre span, tt, kbd {
  font-family: Inconsolata, Consolas, monospace;
}

kbd {
  background: #eee;
  padding: 0.2em;
}

.code, .irc {
  border: 1px grey solid;
  background: #eee;
  padding: 1em;
  font-family: Inconsolata, Consolas, monospace;
}

code {
  background: #eee;
  font-family: Inconsolata, Consolas, monospace;
}

.timestamp {
    text-align: right;
    color: grey;
}

#books { padding-top: 1em; }

#resume h3 { margin-left: -1em; }
#resume dt { font-style: italic; }

/* htmlize styles for code snippets */

.comment {
        /* font-lock-comment-face */
        color: #7f9f7f;
    }
    .comment-delimiter {
        /* font-lock-comment-delimiter-face */
        color: #708070;
    }
    .function-name {
        /* font-lock-function-name-face */
        color: #9f8ff0;
    }
     .keyword {
        /* font-lock-keyword-face */
        color: #a020f0;
      }
    .negation-char {
        /* font-lock-negation-char-face */
        color: #f0dfaf;
        font-weight: bold;
    }
    .string {
        /* font-lock-string-face */
        color: #cc9393;
    }
    .type {
        /* font-lock-type-face */
        color: #9f0fdf;
        font-weight: bold;
    }
    .variable-name {
        /* font-lock-variable-name-face */
        color: #308f3f;
    }
    .builtin {
        /* font-lock-builtin-face */
        color: #da70d6;
    }
    .doc {
        /* font-lock-doc-face */
        color: #bc8f8f;
    }
    .paren, .esk-paren {
        /* paren-face */
        color: #8c8c8c;
    }
    .keyword { color: blue; }
    .literal { color: purple; }
