@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin Regular'), local('Cabin-Regular'), url('cabin.ttf') format('truetype');
}

* {
    font-family: 'Cabin', "Book Antiqua", "URW Palladio L", sans-serif;
}

body {
    padding: 1.5em 0;
}

div#container {
    width: 900px;
    margin: 0 auto;
}

h1 {
    margin: 1.5em 0 1.5em 3em;
}

div#logo {
    margin: -3em 0 0 -5em;
    float: left;
}

h1 a {
    text-decoration: none;
}

blockquote {
    background-color: #eee;
    margin: 1em;
    padding: 0.3em 1em;
}

#bigleft, #bigright {
    position: fixed;
    top: 10em;
    font-size: 28pt;
}

#bigleft a, #bigright a {
    color: #ddd;
}

#bigleft a:hover, #bigright a:hover {
    color: #31674b;
    text-decoration: none;
}

#bigright {
    left: 1220px;
}

#entry, #wrapper {
    font-size: 15pt;
}

#entry img {
    margin-right: 1em;
    margin-bottom: 1em;
}

#entry img.right {
    float: right;
    margin-left: 1em;
}


#comments {
    text-align: justify;
    border-top: 1px grey solid;
    font-size: 11pt;
    padding: 3em;
}

#comments dd {
    margin-bottom: 2em;
}

#comment-entry {
    width: 40em;
    height: 10em;
}

#entry, #comments, #entries, #wrapper, #books, #resume {
    width: 40em;
    margin-left: 5em;
    text-align: justify;
    line-height: 1.5em;
}

#entries li {
    margin: 0.5em;
}

.footnotes {
    font-size: 88%;
    border-top: 1px solid grey;
}

ul.spaced li {
    margin-bottom: 1.5em;
}

#footer {
    margin: 2em 0 8em 2em;
}

#footer p {
    text-align: center;
}

#footer img {
    border: 0;
}

img.portrait {
    margin-top: -3em;
    margin-left: 2em;
}

a {
    text-decoration: none;
    color: #31674b;
}

a:hover {
    text-decoration: underline;
    color: #11472b;
}

a img { border: 0; }

a.older, a.newer {
    size: 80%;
}

pre, pre span, tt, kbd {
    font-family: Inconsolata, Consolas, monospace;
}

kbd {
    background: #eee;
    padding: 0.2em;
}

.code, .irc {
    border: 1px grey solid;
    background: #eee;
    padding: 1em;
    font-family: Inconsolata, Consolas, monospace;
}

code {
    background: #eee;
    font-family: Inconsolata, Consolas, monospace;
}

.timestamp {
    text-align: right;
    color: grey;
}

#khomut {
    font-size: 200%;
    text-align: center; 
}

#books { padding-top: 1em; }

#resume h3 { margin-left: -1em; }
#resume dt { font-style: italic; }

/* htmlize styles for code snippets */

.comment {
    /* font-lock-comment-face */
    color: #7f9f7f;
}
.constant {
    /* font-lock-constant-face */
    color: #008b8b;
}
.comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #708070;
}
.function-name {
    /* font-lock-function-name-face */
    color: #9f8ff0;
}
.keyword {
    /* font-lock-keyword-face */
    color: #a020f0;
}
.negation-char {
    /* font-lock-negation-char-face */
    color: #f0dfaf;
    font-weight: bold;
}
.string {
    /* font-lock-string-face */
    color: #cc9393;
}
.type {
    /* font-lock-type-face */
    color: #9f0fdf;
    font-weight: bold;
}
.variable-name {
    /* font-lock-variable-name-face */
    color: #308f3f;
}
.builtin {
    /* font-lock-builtin-face */
    color: #da70d6;
}
.doc {
    /* font-lock-doc-face */
    color: #bc8f8f;
}
.paren, .esk-paren {
    /* paren-face */
    color: #8c8c8c;
}
.keyword { color: blue; }
.literal { color: purple; }

.tuareg-font-lock-governing {
    /* tuareg-font-lock-governing-face */
    color: #0000ff;
    font-weight: bold;
}
.tuareg-font-lock-operator {
    /* tuareg-font-lock-operator-face */
    color: #a52a2a;
}
.warning {
    /* font-lock-warning-face */
    color: #ff0000;
    font-weight: bold;
}

.nxml-attribute-local-name {
    /* nxml-attribute-local-name */
    color: #a0522d;
}
.nxml-attribute-value {
    /* nxml-attribute-value */
    color: #8b2252;
}
.nxml-attribute-value-delimiter {
    /* nxml-attribute-value-delimiter */
    color: #8b2252;
}
.nxml-element-local-name {
    /* nxml-element-local-name */
    color: #0000ff;
}
.nxml-processing-instruction-delimiter {
}
.nxml-processing-instruction-target {
    /* nxml-processing-instruction-target */
    color: #a020f0;
}

/*       <TimMc> technomancy: If you enclose them in a div that is
         position:fixed and dropped 280 pts down the page, then float
         the arrows to the two ends of the div... */
