Options +MultiViews -ExecCGI

RewriteEngine on
RewriteRule blog/post/(.*)$ /$1 [R=301,L]

php_flag engine off

Header set Strict-Transport-Security "max-age=31536000"
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"
