<%= including "header", {:title => 'Books'} %>

<div id='wrapper'>

<h2>Want to read</h2>
<ul>
<li>The Ramayana, Indian epic</li>
<li>The Great Divorce by C.S. Lewis</li>
<li>The Soul of a New Machine by Tracy Kidder</li>
<li>Crime and Punishment by Fyodor Dostoyevsky</li>
<li>Fear and Trembling by Søren Kierkegaard</li>
<li>Orthodoxy by G.K. Chesterton</li>
<li>A Confederancy of Dunces by John Kennedy Toole</li>
<li>The Futurological Congress by Stanisław Lem</li>
<li>Catch 22 by Joseph Heller</li>
<li>The Elements of Typographic Style by Robert Bringhurst</li>
<li>The End of Education by Neil Postman</li>
<li>Mason & Dixon by Thomas Pynchon</li>
<li>The Wave in the Mind by Ursula K. Le Guin</li>
</ul>

<h2>Currently reading</h2>
<ul>
  <li>The Wind's Twelve Quarters by Ursula K. Le Guin</li>
  <li>Debt: the first 5000 years by David Graeber</li>
  <li><a href="http://htdp.org">How to Design Programs</a> by Matthias Felleisen et al</li>
</ul>

<h2>Have read (since June 2003)</h2>
<ul>
<li>Strong and Weak by Andy Crouch</li>
<li>Squirrel Girl #3 by Ryan North and Erica Henderson</li>
<li>Did God Kill Jesus by Tony Young</li>
<li>The Tombs of Atuan by Ursula K. Le Guin</li>
<li>The Princess Bride by William Goldman</li>
<li>Eve by William Paul Young</li>
<li>The Mysterious Flame of Queen Loana by Umberto Eco</li>
<li>A Wizard of Earthsea by Ursula K. Le Guin</li>
<li>The Cuckoo's Egg by Clifford Stoll</li>
<li>The Promise by Chaim Potok</li>
<li><a href="http://pedrokroger.net/mfgan/">Music for Geeks and Nerds</a> by Pedro Kroger</li>
<li>Invent to Learn by Sylvia Martinez</li>
<li>The Ale Boy's Feast by Jeffrey Overstreet</li>
<li>Raven's Ladder by Jeffrey Overstreet</li>
<li>Cyndere's Midnight by Jeffrey Overstreet</li>
<li>Auralia's Colors by Jeffrey Overstreet</li>
<li>With by Skye Jethani</li>
<li>Surely You're Joking, Mr. Feynman by Richard Feynman</li>
<li><a href="https://store.kobobooks.com/en-us/ebook/constellation-games">Constellation Games</a> by Leonard Richardson</li>
<li>Teaching as a Subversive Activity by Neil Postman</li>
<li>Anathem by Neal Stephenson</li>
<li>Make: Electronics by Charles Platt</li>
<li>The Name of the Rose by Umberto Eco</li>
<li><a href="http://www.amazon.com/Restless-Souls-Refugees-Misfits-Thai-burma/dp/9748303918">Restless Souls</a> by Phil Thornton</li>
<li>Mindstorms by Seymour Papert</li>
<li>The Man who was Thursday by G.K. Chesterton</li>
<li><a href="http://qwantz.com/tobeornottobe.php">To Be or Not To Be</a> by Ryan North</li>
<li>Rediscovering Christianity by Vincent Donovan</li>
<li>Ventus by Karl Schroder</li>
<li>Hard Boiled Wonderland and the End of the World by Haruki Murakami</li>
<li>The Other Wind by Ursula LeGuin</li>
<li><a href="https://www.kickstarter.com/projects/weiner/augie-and-the-green-knight-a-childrens-adventure-b">Augie and the Green Knight</a> by Zach Wiener</li>
<li>Culture Shock: Thailand by Robert and Nanthapa Cooper</li>
<li>A Path Appears by Nicholas Kristoff and Sheryl WuDunn</li>
<li>Turning back the Clock by Umberto Eco</li>
<li>The Book of Heroic Failures by Stephen Pile</li>
<li><a href="http://www.midasflesh.com">The Midas Flesh</a> by Ryan North, Shelli Paroline, and Branden Lamb</li>
<li>The Left Hand of Darkness by Ursula Le Guin</li>
<li><a href="http://www.partnersworld.org/store/subversive-hope">Subversive Hope</a> by various</li>
<li><a href="http://www.partnersworld.org/store/16">Picking Flowers on Dusty Roads</a> by Oddny Gumaer</li>
<li>Burma Chronicle by Guy Delisle</li>
<li>One World Schoolhouse by Sal Khan</li>
<li><a href="http://www.live58.org/">Fast Living</a> by Scott Todd</li>
<li>The Design of Everyday Things by Donald Norman</li>
<li>A Once Crowded Sky by Tom King</li>
<li>Discover Forth by Thom Hogan</li>
<li>To Understand is to Invent by Jean Piaget</li>
<li>Makers by Cory Doctorow</li>
<li><a href="http://learnyousomeerlang.org">Learn You Some Erlang for Great Good</a> by Fred Hébert</li>
<li>Instead of Education by John Holt</li>
<li>The Fall of Hyperion by Dan Simmons</li>
<li>Hyperion by Dan Simmons</li>
<li>Mentoring Self-directed Learners by Lori Pickert</li>
<li><a href="http://realworldocaml.org">Real World OCaml</a> by Jason Hickey, Anil Madhavapeddy, and Yaron Minsky</li>
<li>Starship Troopers by Robert Heinlen</li>
<li>The Ocean at the end of the Lane by Neil Gaiman</li>
<li>Treasure Island by Robert Louis Stevenson</li>
<li>The Blue Bottle Craft of Coffee by James Freeman, Caitlin Freeman and Tara Duggan</li>
<li>Tehanu by Ursula Le Guin</li>
<li>This is How You Die, edited by Ryan North, Matthew Bennardo, and David Malki !</li>
<li>The Moon is a Harsh Mistress by Robert Heinlen</li>
<li>Left Coast Roast by Hanna Neuschwander</li>
<li>Wall and Piece by Banksy</li>
<li>Gray Lensman by Doc Smith</li>
<li>The Cyberiad by Stanisław Lem</li>
<li>Robot Builder's Bonanza by Gordon McComb</li>
<li>The Farthest Shore by Ursula Le Guin</li>
<li>Where'd you go, Bernadette by Maria Semple</li>
<li>Solaris by Stanisław Lem</li>
<li>Odd and the Frost Giants by Neil Gaiman</li>
<li>Home Coffee Roasting by Kenneth Davids</li>
<li>Mindstorms by Seymour Papert</li>
<li>Galactic Patrol by Doc Smith</li>
<li>The Curious Incident of the Dog in the Night Time by Mark Haddon</li>
<li>Son by Lowis Lowry</li>
<li>The Brothers Karamazov by Fyodor Dostoyevsky</li>
<li>tmux by Brian P. Hogan</li>
<li>The Lady Tasting Tea by David Salsburg</li>
<li>Brave New World by Aldous Huxley</li>
<li>The Tombs of Atuan by Ursula Le Guin</li>
<li>True Names and the Opening of the Cyberspace Frontier by Vernor Vinge et al</li>
<li>Amusing Ourselves to Death by Neil Postman</li>
<li>A Wizard of Earthsea by Ursula Le Guin</li>
<li>Down and Out in the Magic Kingdom by Cory Doctorow</li>
<li>The Cost of Discipleship by Dietrich Bonhoeffer</li>
<li>A Deepness in the Sky by Vernor Vinge</li>
<li>Surprised by Hope by N.T. Wright</li>
<li>That Hideous Strength by C.S. Lewis</li>
<li>Nix: A Safe and Policy-Free System for Software Deployment by
  Eelco Dolstra, Merijn de Jonge, Eelco Visser</li>
<li>Computer Communication by J.C.R. Licklider</li>
<li>Scott Pilgrim by Bryan Lee O'Malley</li>
<li>God in the Dock by C.S. Lewis</li>
<li>Travels in Computerland by Ben Ross Schneider, Jr.</li>
<li>Good Omens by Terry Pratchett and Neil Gaiman.</li>
<li>Dune by Frank Herbert</li>
<li>Colors of Hope by Richard Dahlstrom</li>
<li>Otherland: Sea of Silver Light by Tad Williams</li>
<li>Otherland: Mountain of Black Glass by Tad Williams</li>
<li>Otherland: River of Blue Fire by Tad Williams</li>
<li>Otherland: City of Golden Shadow by Tad Williams</li>
<li>Release It! by Michael Nygard</li>
<li>Fragile Things by Neil Gaiman</li>
<li>When Helping Hurts by Steve Corbett and Brian Fikkert</li>
<li>The Ale Boy's Feast by Jeffrey Overstreet</li>
<li>Raven's Ladder by Jeffrey Overstreet</li>
<li>Cyndere's Midnight by Jeffrey Overstreet</li>
<li><a href="http://www.joyofclojure.com/">The Joy of Clojure</a> by Chris Houser and Michael Fogus</li>
<li>The DC Universe stories of Alan Moore</li>
<li>Red Son by Mark Millar</li>
<li>Auralia's Colors by Jeffrey Overstreet</li>
<li>Baudolino by Umberto Eco</li>
<li>Hello Android by Ed Burnette</li>
<li>Count Zero by William Gibson</li>
<li>Redwall by Brian Jacques</li>
<li>The Doppleganger Chronicles Volume II by G.P. Taylor</li>
<li>A Princess of Mars by Edgar Rice Boroughs</li>
<li>Scott Pilgrim by Bryan Lee O'Malley</li>
<li>The Machine of Death by various contributors</li>
<li>Zero History by William Gibson</li>
<li>The Doppleganger Chronicles by G.P. Taylor</li>
<li>Scott Pilgrim by Bryan Lee O'Malley</li>
<li>The Phantom of the Opera by Gaston Leroux</li>
<li><a href="http://www.joyofclojure.com/">The Joy of Clojure</a> by Chris Houser and Michael Fogus</li>
<li>The Hound of the Baskervilles Sir Arthur Conan Doyle</li>
<li>Hackers by Steven Levy</li>
<li>A Study in Scarlet by Sir Arthur Conan Doyle</li>
<li>Raven's Ladder by Jeffrey Overstreet</li>
<li>Stardust by Neil Gaiman and Charles Vess</li>
<li>Cyndere's Midnight by Jeffrey Overstreet</li>
<li>Dapper Caps and Pedal-Copters by David Malki !</li>
<li>The Black Dossier by Alan Moore and Kevin O'Neill</li>
<li>The Ball and the Cross by G.K. Chesterton</li>
<li>The Man who was Thursday by G.K. Chesterton</li>
<li>A Scanner Darkly by Philip K. Dick</li>
<li>She by H. Rider Haggard</li>
<li>The Graveyard Book by Neil Gaiman</li>
<li>Leiningen Versus the Ants by Carl Stephenson</li>
<li>Lucene in Action by Erik Hatcher</li>
<li>Processing by Casey Reas and Ben Fry</li>
<li>Julius Caesar by William Shakespeare</li>
<li>Free Culture by Lawrence Lessig</li>
<li>All Tomorrow's Parties by William Gibson</li>
<li>Out of the Tarpit by Ben Moseley and Peter Marks</li>
<li>The Island of Dr. Moreau by H.G. Wells</li>
<li>Beards of our Forefathers by David Malki !</li>
<li>Outliers by Malcolm Gladwell</li>
<li>Clever Tricks to Stave Off Death by David Malki !</li>
<li>Whose Body by Dorothy L. Sayers</li>
<li>The Great Outdoor Fight by Chris Onstad</li>
<li>Flow my Tears, the Policeman Said by Philip K. Dick</li>
<li>Second Foundation by Isaac Asimov</li>
<li>Foundation and Empire by Isaac Asimov</li>
<li>The Time Machine by H.G. Wells</li>
<li>Foundation by Isaac Asimov</li>
<li>The League of Extraordinary Gentlemen II by Alan Moore and Kevin O'Neill</li>
<li>The Fellowship of the Ring by J.R.R. Tolkien</li>
<li><a href='http://pragprog.com/titles/shcloj/programming-clojure'>Programming Clojure</a> by Stuart Halloway</li>
<li>Practical Cryptography by Bruce Schneier</li>
<li>Cat's Cradle by Kurt Vonnegut</li>
<li>Back in Black by J. Michael Straczynski</li>
<li>Here Comes Everybody by Clay Shirky</li>
<li>Dracula by Bram Stoker</li>
<li>The League of Extraordinary Gentlemen volume I by Allan Moore</li>
<li>King Solomon's Mines by H. Rider Haggard</li>
<li>The Strange Case of Dr. Jekyll and Mr. Hyde by Robert Louis Stephenson</li>
<li>The Napoleon of Notting Hill by G.K. Chesterton</li>
<li>ManAlive by G.K. Chesterton</li>
<li>The Shack by William P. Young</li>
<li>Smoke and Mirrors by Neil Gaiman</li>
<li>300 by Frank Miller and Lynn Varney</li>
<li>The Messenger by Lowis Lowry</li>
<li>Cyndere's Midnight by Jeffrey Overstreet</li>
<li><a href="http://pragprog.com/titles/ahptl/pragmatic-thinking-and-learning">Pragmatic Learning and Thinking</a> by Andy Hunt</li>
<li>Coraline by Neil Gaiman</li>
<li>Auralia's Colors by Jeffrey Overstreet</li>
<li>Batman: Year One by Frank Miller</li>
<li>The Island of the Day Before by Umberto Eco</li>
<li>Git from the Bottom Up by John Weigley</li>
<li>Javascript: The Definitve Guide by David Flanagan</li>
<li>Spook Country by William Gibson</li>
<li>Edison's Conquest of Mars by Garrett P. Serviss</li>
<li>War of the Worlds by H.G. Wells</li>
<li>Y the Last Man by Bryan Vaugn</li>
<li>Focault's Pendulum by Umberto Eco</li>
<li>Ex Machina by Bryan Vaugn</li>
<li>Deploying Rails Applications by Ezra Zygmuntowicz</li>
<li>The Man who was Thursday by G.K. Chesterton</li>
<li>Understanding Comics by Scott McCloud</li>
<li>No-one Knows Shoes by _why the Lucky Stiff</li>
<li>Leave it to Psmith by P.G. Wodehouse</li>
<li>Blue Like Jazz by Donald Miller</li>
<li>The Watchmen by Alan Moore</li>
<li>The Name of the Rose by Umberto Eco</li>
<li>The Kingdom Triangle by J.P. Moreland</li>
<li>V for Vendetta by Alan Moore and David Lloyd</li>
<li>The Hobbit by J.R.R. Tolkien</li>
<li>Restful Web Services by Leonard Richardson and Sam Ruby</li>
<li>The Dark Knight Returns by Frank Miller</li>
<li>The Little Schemer by Daniel P. Friedman and Matthias Felleisen</li>
<li>Auralia's Colors by Jeffrey Overstreet</li>
<li>The Ruby Way by Hal Foulton</li>
<li>The Difference Engine by Bruce Sterling and William Gibson</li>
<li>The Oresteia by &AElig;schylus</li>
<li>The Murder of Roger Ackroyd by Agatha Christie</li>
<li>The Man in the High Castle by Philip K. Dick</li>
<li>Appointment with Death by Agatha Christie</li>
<li>Harry Potter and the Deathly Hallows by J.K. Rowling</li>
<li>Accelerando by Charles Stross</li>
<li>Between Heaven and Hell by Peter Kreeft</li>
<li>Creature Tech by Doug TenNapel</li>
<li>Harry Potter and the Half-Blood Prince by J.K. Rowling</li>
<li>Harry Potter and the Order of the Phoenix by J.K. Rowling</li>
<li>Harry Potter and the Goblet of Fire by J.K. Rowling</li>
<li>Harry Potter and the Prisoner of Azkaban by J.K. Rowling</li>
<li>Harry Potter and the Chamber of Secrets by J.K. Rowling</li>
<li>Harry Potter and the Sorcerer's Stone by J.K. Rowling</li>
<li>Phantastes by George MacDonald</li>
<li>Blink by Malcolm Gladwell</li>
<li>Stardust by Neil Gaiman and Charles Vess</li>
<li>Where Wizards Stay Up Late by Katie Hoffer and Matt Lyon</li>
<li>Mind Hacks by Tom Stafford and Matt Webb</li>
<li>The World is Flat by Thomas Friedman</li>
<li>The Lord of the Rings by J.R.R. Tolkien</li>
<li>Dark Hero of the Information Age: In Search of Norbert Wiener by Flo Conway and Jim Siegelman</li>
<li>Mastering Regular Expressions by Jeffrey Friedl</li>
<li>Pragmatic Ajax by Justin Ghetland, Ben Galbraith, and Dion Almaer</li>
<li>Rainbows End by Vernor Vinge</li>
<li>Pattern Recognition by William Gibson</li>
<li>Don't make me Think by Steve Krug</li>
<li>The Innocence of Father Brown by G.K. Chesterton</li>
<li>How to Learn any Language by Barry Farber</li>
<li>The Dark Knight Returns by Frank Miller</li>
<li>Neverwhere by Neil Gaiman</li>
<li>Mind of the Maker by Dorothy Sayers</li>
<li>ANSI Common Lisp by Paul Graham</li>
<li>Test-Driven Development by Example by Kent Beck</li>
<li>The Castle of Adventure by Enid Blyton</li>
<li>A Scanner Darkly by Philip K. Dick</li>
<li>ManAlive by G.K. Chesterton</li>
<li>Practices of an Agile Developer by Venkat Subramaniam and Andy Hunt</li>
<li>Gathering Blue by Lois Lowry</li>
<li>Jack's Life by Douglas Gresham</li>
<li>Do Androids Dream of Electric Sheep by Philip K. Dick</li>
<li>Monstrous Regiment by Terry Pratchett</li>
<li>The Watchmen by Alan Moore</li>
<li>Burning Chrome by William Gibson</li>
<li>V for Vendetta by Alan Moore and David Lloyd</li>
<li>The Sandman by Neil Gamian</li>
<li>Holes by Louis Sachar</li>
<li>The Giver by Lois Lowry</li>
<li>The Phantom Tollbooth by Norton Juster</li>
<li>Refactoring by Martin Fowler</li>
<li>The Island of Adventure by Enid Blyton</li>
<li>Secrets and Lies by Bruce Schneier</li>
<li>The Analects of Confucious</li>
<li>Neuromancer by William Gibson</li>
<li>The Tipping Point by Malcolm Gladwell</li>
<li>The Mythical Man-Month by Fred Brooks</li>
<li>Jane Eyre by Charlotte Bronte</li>
<li>Equal Rites by Terry Pratchett</li>
<li>The Salmon of Doubt by Douglas Adams</li>
<li>Surprised by the Voice of God by Jack Deere</li>
<li>Hackers by Stephen Levy</li>
<li>Anansi Boys by Neil Gaiman</li>
<li>Agile Web Development with Rails by Dave Thomas and David HH</li>
<li>Blog by Hugh Hewitt</li>
<li>Hackers and Painters by Paul Graham</li>
<li>Interface by Stephen Bury</li>
<li>The Zen of CSS Design by Dave Shea and Molly Holzschlag</li>
<li>The Pragmatic Programmer by Dave Thomas and Andy Hunt</li>
<li>Pragmatic Version Control by Mike Mason</li>
<li>American Gods by Neil Gaiman</li>
<li>That Hideous Strength by C.S. Lewis</li>
<li>The Chosen by Chaim Potok</li>
<li>Quicksilver by Neal Stephenson</li>
<li>Why's (poignant) Guide to Ruby by Why the Lucky Stiff</li>
<li>Weaving the Web by Tim Berners-Lee</li>
<li>Joel on Software by Joel Spolsky</li>
<li>UNIX Shell Scripting by Lowell Jay Arthur</li>
<li>The Everlasting Man by Chesterton</li>
<li>The Cluetrain Manifesto by Levine, Locke, Searls &amp; Weinberger</li>
<li>A Fire upon the Deep by Vernor Vinge</li>
<li>The complete works of St. Athanasius of Alexandria</li>
<li>The Life of God's Word in Athanasius by Fred Sanders</li>
<li>Virtual Light by William Gibson</li>
<li>La Chanson de Roland trans. by Dorothy Sayers</li>
<li>The Life of St. Francis by St. Bonaventura</li>
<li>Count Zero by William Gibson</li>
<li>Stranger in a Strange Land by Robert Heinlen</li>
<li>Life and Letters of Henry Martyn by John Sargent</li>
<li>Comedy of Errors by Shakespeare</li>
<li>Through the Gates of Splendor by Elisabeth Eliot</li>
<li>A Severe Mercy by Sheldon Vanauken</li>
<li>Foxe's book of Martyrs</li>
<li>The Right Questions by Phil Johnson</li>
<li>Saint Thomas Aquinas by Chesterton</li>
<li>Life of Saint Anthony by Athanasius</li>
<li>Surprised by Joy by CS Lewis</li>
<li>Technomanifestos by Adam Brate</li>
<li>The Divine Comedy of Dante Aligheri</li>
<li>The Cathedral and the Bazaar by Eric S. Raymond</li>
<li>The Discarded Image by CS Lewis</li>
<li>True Names by Vernor Vinge</li>
<li>Introductory papers on Dante by Dorothy Sayers</li>
<li>Saint Francis of Assisi by Chesterton</li>
<li>Out of the Silent Planet by CS Lewis</li>
<li>Neuromancer by William Gibson</li>
<li>De Monarchia by Dante Aligheri</li>
<li>Mona Lisa Overdrive by William Gibson</li>
<li>La Vita Nuova by Dante Aligheri</li>
<li>Dirk Gently's Holistic Detective Agency by Douglas Adams</li>
<li>Wild at Heart by John Elridge</li>
<li>The Geography of Thought by Richard Nisbett</li>
<li>The Divine Comedy of Dante Aligheri</li>
<li>The Way of a Pilgrim by Russian anonymous</li>
<li>The Aeneid by Virgil</li>
<li>The Silver Chair by C.S. Lewis</li>
<li>Le Morte d' Arthur by Sir Thomas Malory</li>
<li>Return of the King by JRR Tolkien</li>
<li>Tristan by Gottfried von Strassburg</li>
<li>Prince Caspian by C.S. Lewis</li>
<li>Parzival by Wolfram von Eschenbach</li>
<li>Snow Crash by Neal Stephenson</li>
<li>The Voyage of the Dawn Treader by CS Lewis</li>
<li>Sir Gawain and the Green Knight by anon trans. by Tolkien</li>
<li>A Wind in the Door by Madeline L'Engle</li>
<li>The Groundwork for the Metaphysics of Morals by Immanuel Kant</li>
<li>The Diamond Age by Neal Stephenson</li>
<li>The Epic of Gilgamesh ancient Sumerian</li>
<li>Cryptonomicon by Neal Stephenson</li>
<li>Virus of the Mind by Richard Brodie</li>
<li>Silence by Shusaku Endo</li>
<li>Idoru by William Gibson</li>
<li>Snow Crash by Neal Stephenson</li>
<li>The Silmarillion by JRR Tolkien</li>
<li>A Wrinkle in Time by Madeline L'Engle</li>
<li>At the Back of the North Wind by George Macdonald</li>
<li>The Lion, the Witch, and the Wardrobe by C.S. Lewis</li>
<li>The Magician's Nephew by C.S. Lewis</li>
<li>Julius Caesar by William Shakespeare</li>
<li>The Man who was Thursday by G.K. Chesterton </li>
</ul>
</div>
<%= including "footer" %>
