<%= including "header", {:title => 'Colophon'} %>

<div id='wrapper'>
  <img src='/i/portrait.jpg' alt='portrait' class='portrait' align='right' />

  <p>This weblog contains the thoughts of Phil Hagelberg. I am a
  developer working for <a href='http://www.evri.com'>Evri</a> in
  Seattle, though obviously my opinions do not reflect those of my
  employer. I have a <a href='http://philisha.net'>personal/family
  blog at http://philisha.net</a>.</p>

  <p>You can find my code:</p>
  <ul>
    <li><a href='http://github.com/technomancy'>on Github</a></li>
    <li><a href='http://rubyforge.org/users/technomancy'>on RubyForge</a></li>
    <li><a href='http://www.emacswiki.org/cgi-bin/wiki/PhilHagelberg'>on
    the Emacs Wiki</a></li>
  </ul>

  <p>Posts are published
  via <a href='http://p.hagelb.org/Rakefile.html'>a 92-line
  Rakefile</a> using ERB and <a href='http://rubyhitsquad.com'>Vlad
  the Deployer</a>.</p>

  <p>I've <a href='/112'>explained of the rationale of the design in
  an earlier post</a>.</p>
</div>

<%= including "footer" %>
