<%= including "header", {:title => 'Colophon'} %>

<div id='wrapper'>
  <img src='/i/headshot.jpg' alt='portrait' class='portrait' align='right' />

  <p>My name is Phil Hagelberg. I am a hacker-errant blessed to work
   with <a href='/projects'>free software written in interesting
   languages</a>. I try to post here monthly. Though it should be
   obvious, I remind readers that my opinions expressed here are my
   own rather than those of <a href="http://www.heroku.com">my
   employer</a>.</p>

  <p>I <a href="http://twitter.com/technomancy">microblog</a> as the
    fancy strikes me. </p>

  <p>My code is <a href='http://github.com/technomancy'>on Github</a>.</p>

  <p>Posts are typed using the Dvorak keyboard layout into GNU Emacs
  on a Lenovo Thinkpad running Ubuntu GNU/Linux. They are published
  via <a href='http://p.hagelb.org/Rakefile.html'>a 93-line
  Rakefile</a>.</p>

  <p>I <a href='/books'>read voraciously</a>.</p>

  <p>To contact me, use my first name at this domain.</p>
</div>

<%= including "footer" %>
