<%= including "header", {:title => 'Colophon'} %>

<div id='wrapper'>
  <img src='/i/headshot.jpg' alt='portrait' class='portrait' align='right' />

  <p>My name is Phil Hagelberg. I am a hacker working
  for <a href='http://www.evri.com'>Evri</a> in Seattle, though
  obviously my opinions do not reflect those of my employer. I have
  a <a href='http://philisha.net'>family blog at
  http://philisha.net</a>.</p>

  <p>You can find my code:</p>
  <ul>
    <li><a href='http://github.com/technomancy'>on Github</a></li>
    <li><a href='http://rubyforge.org/users/technomancy'>on RubyForge</a></li>
    <li><a href='http://www.emacswiki.org/cgi-bin/wiki/PhilHagelberg'>on
    the Emacs Wiki</a></li>
  </ul>

  <p>Posts are typed using the Dvorak keyboard layout into GNU Emacs
  on a Lenovo Thinkpad running Ubuntu GNU/Linux. They are stored in
  YAML and published via <a href='http://p.hagelb.org/Rakefile.html'>a
  92-line Rakefile</a> using ERB
  and <a href='http://rubyhitsquad.com'>Vlad the Deployer</a>.</p>

  <p>I <a href='/books'>read voraciously</a>.</p>

  <p>To contact me, use my first name at this domain.</p>
</div>

<%= including "footer" %>
