<%= including "header", {:title => 'Colophon'} %>

<div id='wrapper'>
  <img src='/i/headshot.jpg' alt='portrait' class='portrait' align='right' />

  <p>My name is Phil Hagelberg, and this is my blog. I am a
    <a href="https://secure.flickr.com/photos/technomancy/tags/remoteoffice/">hacker-errant</a>
    at <a href="http://www.heroku.com">Heroku</a> blessed to work
    with <a href='/projects'>free software written in interesting
    languages</a>.</p>

  <p><a href="/list">The archives</a> have old posts. I track
    my <a href="/books">reading habits</a> here too.</p>

  <p>If you wish to comment on a post or otherwise contact me, feel
    free to email me using my first name at this domain. Insightful
    comments may be appended to posts with permission and attribution.
    Sensitive data may be encrypted for
    my <a href="/technomancy-pubkey.gpg">public key</a>
    (77E77DDC).</p>

  <p>You can send me gifts
    on <a href="https://www.gittip.com/technomancy/">Gittip</a>
    or <a href="http://amzn.com/w/36G41BG8OG578">Amazon</a> if for
    some reason you are so inclined.</p>

  <p>I've been interviewed in various places:</p>
  <ul>
    <li><a href="http://blog.fogus.me/2010/06/28/take-8-phil-hagelberg/">Michael Fogus's blog</a></li>
    <li><a href="http://mostlylazy.com/2012/09/21/episode-8">Mostly Lazy podcast</a></li>
    <li><a href="http://phil.hagelberg.usesthis.com/">The Setup</a></li>
  </ul>

  <p>Posts are typed using the Dvorak keyboard layout into Emacs on a
    Thinkpad running Debian GNU/Linux. They are published
    via <a href='http://p.hagelb.org/Rakefile.html'>a 93-line
    Rakefile</a>. Prose contents of all articles are licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
      Commons Attribution-ShareAlike 3.0 License</a> unless otherwise specified.</p>

</div>

<%= including "footer" %>
»
