<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Dynabook - Technomancy</title>
  </head>

  <body>
    <h1><a href='/list'><img src='/i/technomancy.png' alt='Technomancy' /></a>
      X61t Tablet Thinkpad</h1>

    <div id='wrapper'>

      <p style="float: right; width: 200px; margin: 1em">
        <a href='/i/dynabook-tablet.JPG'><img src="/i/dynabook-tablet.JPG"
                                              width="200" /></a>
        <a href='/i/dynabook-open.JPG'><img src="/i/dynabook-open.JPG"
                                            width="200" /></a>
        <a href='/i/dynabook-right.JPG'><img src="/i/dynabook-right.JPG"
                                             width="200"/></a>
      </p>

      <ul>
        <li>Intel Core 2 Duo 1.6 GHz</li>
        <li>2GB RAM, 80 GB 7200 RPM Hard drive</li>
        <li>12-inch convertible tablet display (1400x1050)</li>
        <li>10.8" x 9.6" x 1.1-1.3", 3.8lbs.</li>
        <li>802.11b/g wifi, bluetooth</li>
        <li>Extended battery</li>
        <li>SD-card reader</li>
        <li>Fingerprint scanner</li>
      </ul>

      <h3>For sale: $500</h3>

      <p>This tablet has served me well. I bought it because it has the
        highest-resolution screen of any laptop its size, so the image is
        extremely crisp. It has Ubuntu 9.04 installed, but it includes a
        license and product key for Vista Business. It's very light and
        compact. I get nearly four hours with the battery; others have
        reported that with Vista it gets a bit more.</p>

      <p>The reason it's priced so low is that the hinge is slightly loose. It
        works fine if you just keep it in your lap or on a desk, but if you
        move it around much when it's open, the screen tilts back. It's still
        quite usable, especially if you use it in the tablet position. The
        tablet features are fun; I use it to sign documents without printing
        them out as well as regular doodling. Apart the hinge it's in great
        condition; Thinkpads are famous for being sturdy.</p>

      <p><a href='http://www.tabletpcreview.com/default.asp?newsID=868'>Here's
          a review</a>. The screen on my model is slightly different from the
        one in the review; it is higher resolution but requires a pen for the
        tablet features.</p>

      <p>A couple more photos: <a href="/i/dynabook-top.JPG">top</a>
      and <a href="/i/dynabook-bottom.JPG">bottom</a>.</p>        

      <p>Interested?
        Contact <a href="mailto:technomancy@gmail.com">technomancy@gmail.com</a>.</p>
    </div>
    <%= including "footer" %>
