    <div id='footer'>
      <p id='copyright'><a href='/list'>Technomancy</a> is &copy; 2004 &ndash; <%= Time.now.year %> Phil Hagelberg
      <acronym title='Soli Deo Gloria'>SDG</acronym>
      [<a href='/projects'>Projects</a> | <a href='/colophon'>Colophon</a>]</p>
    </div>
  </body>
</html>
