    <div id='footer'>
      <p id='copyright'><a href='/list'>Technomancy</a> is &copy; 2004 &ndash; <%= Time.now.year %> Phil Hagelberg,
      Soli Deo Gloria.
      [ <a href='/list'>All posts</a> | 
        <a href='/resume'>R&eacute;sum&eacute;</a> | 
        <a href='/projects'>Projects</a> | 
        <a href='/colophon'>Colophon</a> |
        <a href='/feed/atom.xml'><img src='/i/feedIcon.png' /></a> ]</p>
    </div>
  </body>
</html>
