<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title><%= locals[:title] && "#{locals[:title]} - "%>Technomancy</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="alternate" href="/feed/atom.xml" title="Technomancy Feed" type="application/atom+xml"/>
  </head>

  <body>
    <div id="container">
      <div id="logo">
        <a href='/list'><img src='/i/technomancy.png' alt='Technomancy' /></a>
      </div>
      <h1><a href=''><%= locals[:title] || 'Technomancy' %></a></h1>
