<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Computing History - Technomancy</title>
  </head>

  <body>
    <h1><a href='/list'><img src='/i/technomancy.png' alt='Technomancy' /></a>
      Computing History</h1>

    <div id='wrapper'>
      <dl>
        <dt>Toilet Duck</dt>
        <dd>Performa 6214. $500, 1998 - 2001</dd>

        <dt>Prometheus</dt>
        <dd>Power Mac 8600. ~$350, 2001 - 2003</dd>

        <dt>Bahamut</dt>
        <dd>Power Mac G3 Blue/White 400. ~$300, 2002 - 2003</dd>

        <dt>Wraith</dt>
        <dd>Compaq Armada 1700, $300. 2003 - 2004</dd>

        <dt>Penguinomicon</dt>
        <dd>disassembled eMachines 500 Celeron, $0. 2004 - 2005</dd>

        <dt>Durendal</dt>
        <dd>Dell Latitude. $50, 2005</ad>

        <dt>Technomancer</dt>
        <dd>Custom AMD 2400 box. ~$500, 2005 - 2006</dd>

        <dt>Herugrim</dt>
        <dd>Toshiba Satellite Pro 700, 2005</dd>

        <dt>Memex</dt>
        <dd>Dell Latitude C400, $600, 2005 - 2006</dd>

        <dt>Vannevar</dt>
        <dd>Thinkpad T61p, $2100, 2007</dd>

        <dt>Dynabook</dt>
        <dd>Thinkpad X61 Tablet, $2200, 2007 - 2009</dd>

        <dt>Enigma</dt>
        <dd>Thinkpad X200s. $1200, 2009 - present</dd>

        <dt>Altair</dt>
        <dd>ThinkServer v2200. $700, 2011 - present</dd>
      </dl>
    </div>
    <%= including "footer" %>
