<%= including "header", :title => 'Projects' %>

<div id='wrapper'>
  <p>I've written and contributed to a number of free software
    projects.</p>

  <h4>Created</h4>
  <dl>
    <dt><a href='http://augment.rubyforge.org'>Augment</a> (Ruby)</dt>
    <dd>A framework for gathering metadata from code and displaying
      it. Featured in <a href='http://hagelb.org/feedback_loop.avi'>my
        talk from RubyConf 07</a>.</dd>

    <dt><a href='http://bus-scheme.rubyforge.org'>Bus Scheme</a> (Ruby)</dt>
    <dd>A Scheme written in Ruby, but implemented on the bus! I 
    <a href='http://technomancy.us/116'>spoke briefly about this</a> at RubyConf 08.</dd>

    <dt><a href='http://github.com/technomancy/clojure-http-client'>Clojue HTTP Client</a> (Clojure)</dt>
    <dd>An HTTP client for the Clojure language.</dd>

    <dt><a href='http://github.com/technomancy/conspire'>Conspire</a> (Ruby)</dt>
    <dd>A real-time collaborative editing platform using Git as a
      transport layer.</dd>

    <dt><a href='http://github.com/technomancy/emacs-starter-kit'>Emacs Starter Kit</a> (ELisp)</dt>
    <dd>A set of dotfiles that provides better defaults and bundles other useful 
    libraries for Emacs users.</dd>

    <dt><a href='http://github.com/technomancy/harker'>Harker</a>(Ruby)</dt>
    <dd>A tool to deploy Rails applications using RubyGems.</dd>

    <dt><a href='http://github.com/technomancy/mire'>Mire</a> (Clojure)</dt>
    <dd>A multiplayer text adventure engine.</dd>

    <dt><a href='http://github.com/technomancy/relax.el'>Relax.el</a> (ELisp)</dt>
    <dd>An Emacs frontend interface to CouchDB.</dd>

    <dt><a href='http://roast-beef.rubyforge.org'>Roast Beef</a> (Ruby)</dt>
    <dd>A bleeding-edge package manager.</dd>

    <dt><a href='http://github.com/technomancy/watcher_in_the_water'>Watcher in the Water</a> (Ruby)</dt>
    <dd>A tool to watch for changes on the Web and alert you.</dd>

    <dt>Miscellaneous Emacs Libraries</dt>
    <dd><a href='http://www.emacswiki.org/cgi-bin/wiki/FindFileInProject'>find-file-in-project.el</a>,
      <a href='http://www.emacswiki.org/cgi-bin/wiki/IdleHighlight'>idle-highlight.el</a>,
      <a href='http://www.emacswiki.org/cgi-bin/wiki/ProjectLocalVariables'>project-local-variables.el</a>,
      <a href='http://www.emacswiki.org/cgi-bin/wiki/SCPaste'>scpaste.el</a>, and
      <a href='http://www.emacswiki.org/cgi-bin/wiki/Steersman'>steersman.el</a>.
    </dd>
  </dl>


  <h4>Contributed</h4>
  <dl>
    <dt><a href='http://clojure.org'>Clojure</a> (Clojure)</dt>
    <dd>A modern Lisp language with concurrency features that runs on the JVM.</dd>

    <dt><a href='http://conkeror.org'>Conkeror</a> (Javascript)</dt>
    <dd>A no-compromises, keyboard-driven, extensible web browser.</dd>

    <dt><a href='http://clip.rubyforge.org'>Clip</a> (Ruby)</dt>
    <dd>A no-fuss command-line argument parser.</dd>

    <dt><a href='http://github.com/technomancy/clojure-mode'>Clojure Mode (ELisp)</a></dt>
    <dd>The Emacs mode for the Clojure language.</dd>

    <dt><a href='http://tromey.com/elpa'>ELPA</a> (ELisp)</dt>
    <dd>The Emacs Lisp Package Archive; a package manager for Emacs.</dd>

    <dt><a href='http://gnu.org/software/emacs'>GNU Emacs</a> (ELisp)</dt>
    <dd>The extensible, self-documenting lisp machine and text editor.</dd>

    <dt><a href='http://www.emacswiki.org/cgi-bin/wiki/ErtTestLibrary'>ERT</a> (ELisp)</dt>
    <dd>A testing tool for Emacs Lisp libraries.</dd>

    <dt><a href='http://rubyforge.org/projects/gitjour/'>Gitjour</a> (Ruby)</dt>
    <dd>A tool for sharing git repositories on a local network over ZeroConf.</dd>

    <dt><a href='http://jruby.org'>JRuby</a> (Ruby)</dt>
    <dd>An implementation of Ruby on the JVM.</dd>

    <dt><a href='http://zagadka.vm.bytemark.co.uk/magit/magit.html'>Magit</a> (Elisp)</dt>
    <dd>A Git frontend for Emacs.</dd>

    <dt><a href='http://intertwingly.net/blog/2007/12/19/Yet-Another-Planet-Refactoring'>Mars</a> (Ruby)</dt>
    <dd>A feed aggregator</dd>

    <dt><a href='http://rack.rubyforge.org'>Rack</a> (Ruby)</dt>
    <dd>A web server adapter for Ruby frameworks.</dd>

    <dt><a href='http:/rinari.rubyforge.org'>Rinari</a> (ELisp)</dt>
    <dd>An Emacs mode for writing Ruby on Rails applications. I
      started the project, but it's currently maintained by Eric
      Schulte.</dd>

    <dt><a href='http://rubyonrails.org'>Ruby on Rails</a> (Ruby)</dt>
    <dd>A web framework for Ruby designed to allow quick application development.</dd>

    <dt><a href='http://rdoc.rubyforge.org'>RDoc</a> (Ruby)</dt>
    <dd>The documentation tool for Ruby code.</dd>

    <dt><a href='http://rfeedparser.rubyforge.org'>RFeedParser</a> (Ruby)</dt>
    <dd>An ultra-liberal feed parser for Ruby based on the Python Universal Feed Parser.</dd>

    <dt><a href='http://rubiniu.us'>Rubinius</a> (Ruby)</dt>
    <dd>A next-generation Ruby implementation.</dd>

    <dt><a href='http://ruby-lang.org'>Ruby</a> (Ruby)</dt>
    <dd>An object-oriented dynamic language.</dd>

    <dt><a href='http://rubyforge.org/projects/rubygems'>RubyGems</a> (Ruby)</dt>
    <dd>Ruby's Package Manager.</dd>

    <dt><a href='http://github.com/technomancy/swank-clojure'>Swank Clojure</a> (Clojure)</dt>
    <dd>An adapter allowing <a href='http://common-lisp.net/project/slime/'>SLIME</a>
    to be used with Clojure.</dd>
  </dl>

  <h4>Presentations</h4>
  <dl>
    <dt><a href='http://peepcode.com/products/functional-programming-with-clojure'>Functional
    Programming with Clojure &ndash; Peepcode</a></dt>
    <dd>A screencast teaching functional programming with the Clojure programming
     language. The first published commercial documentation released for the language.</dd>

    <dt><a href='http://peepcode.com/products/meet-emacs'>Meet Emacs &ndash; Peepcode</a></dt>
    <dd>An hour-long screencast tutorial introducing the GNU Emacs editor.</dd>

    <dt><a href='/misc/feedback_loop.avi'>Tightening the Feedback Loop</a></dt>
    <dd>A presentation given at RubyConf 2007.</dd>
  </dl>

  <h4>Discontinued</h4>
  <dl>
    <dt><a href='http://concourse.technomancy.us/'>Concourse</a> (Ruby)</dt>
    <dd>A web application to help schedule gatherings among participants
      with varying schedules. My <a href='/47'>entry for Railsday
        06</a>.</dd>

    <dt><a href='/47'>Ebby</a> (ELisp)</dt>
    <dd>An implementation of the Obby collaborative protocol for
      Emacs. Only works with Gobby 0.3, which is out-of-date.</dd>

    <dt><a href='/59'>ElUnit</a> (ELisp)</dt>
    <dd>A testing framework for Emacs Lisp. Superceded
    by <a href='http://www.emacswiki.org/cgi-bin/wiki/ErtTestLibrary'>ERT</a>.</dd>
  </dl>

</div>

<%= including 'footer' %>
