<%= including "header", :title => 'Projects' %>

<div id='wrapper'>
  <p>I've initiated, contributed to, and maintained a number of free software projects.</p>

  <h4>Contributed</h4>
  <dl>
    <dt><a href='http://clojure.org'>Clojure</a> (Clojure)</dt>
    <dd>A modern functional lisp language with advanced concurrency features.</dd>

    <dt><a href='http://conkeror.org'>Conkeror</a> (Javascript)</dt>
    <dd>A no-compromises, keyboard-driven, extensible web browser.</dd>

    <dt><a href='http://clip.rubyforge.org'>Clip</a> (Ruby)</dt>
    <dd>A no-fuss command-line argument parser.</dd>

    <dt><a href='http://github.com/technomancy/clojure-mode'>Clojure Mode</a> (ELisp)</dt>
    <dd>The Emacs mode for the Clojure language. I maintain this package.</dd>

    <dt><a href='http://gnu.org/software/emacs'>GNU Emacs</a> (ELisp)</dt>
    <dd>The extensible, self-documenting lisp machine and text editor.</dd>

    <dt><a href='http://www.emacswiki.org/cgi-bin/wiki/ErtTestLibrary'>ERT</a> (ELisp)</dt>
    <dd>A testing tool for Emacs Lisp libraries.</dd>

    <dt><a href='http://github.com/whymirror/hpricot'>Hpricot</a> (Ruby)</dt>
    <dd>A delicious HTML parser.</dd>

    <dt><a href='http://github.com/jclouds/jclouds'>JClouds</a> (Clojure)</dt>
    <dd>A cross-provider library for working with remote storage and
      compute APIs from Java and Clojure.</dd>

    <dt><a href='http://wiki.github.com/jbarnette/johnson'>Johnson</a> (Ruby)</dt>
    <dd>A bridge between Javascript and Ruby.</dd>

    <dt><a href='http://jruby.org'>JRuby</a> (Ruby)</dt>
    <dd>An implementation of Ruby on the JVM.</dd>

    <dt><a href='http://zagadka.vm.bytemark.co.uk/magit/magit.html'>Magit</a> (Elisp)</dt>
    <dd>A Git frontend for Emacs.</dd>

    <dt><a href='http://intertwingly.net/blog/2007/12/19/Yet-Another-Planet-Refactoring'>Mars</a> (Ruby)</dt>
    <dd>A feed aggregator.</dd>

    <dt><a href="http://github.com/headius/mirah">Mirah</a> (Ruby, Mirah)</dt>
    <dd>A low-level programming language targeting the JVM with type
      inference and extensible classes. Formerly known as Duby.</dd>

    <dt><a href='http://tromey.com/elpa'>package.el</a> (ELisp)</dt>
    <dd>The Emacs Lisp Package Archive; a package manager for Emacs.</dd>

    <dt><a href='http://rack.rubyforge.org'>Rack</a> (Ruby)</dt>
    <dd>The web server adapter for Ruby frameworks.</dd>

    <dt><a href='http://rubyonrails.org'>Ruby on Rails</a> (Ruby)</dt>
    <dd>A web framework for Ruby designed to allow quick application development.</dd>

    <dt><a href='http://rudel.sourceforge.net'>Rudel</a> (Elisp)</dt>
    <dd>A collaborative editing client for Emacs.</dd>

    <dt><a href='http://rdoc.rubyforge.org'>RDoc</a> (Ruby)</dt>
    <dd>The documentation tool for Ruby code.</dd>

    <dt><a href='http://rfeedparser.rubyforge.org'>RFeedParser</a> (Ruby)</dt>
    <dd>An ultra-liberal feed parser for Ruby based on the Python Universal Feed Parser.</dd>

    <dt><a href='http://rubiniu.us'>Rubinius</a> (Ruby)</dt>
    <dd>A Smalltalk-inspired Ruby virtual machine and implementation.</dd>

    <dt><a href='http://ruby-lang.org'>Ruby</a> (Ruby)</dt>
    <dd>An object-oriented dynamic language.</dd>

    <dt><a href='http://rubyforge.org/projects/rubygems'>RubyGems</a> (Ruby)</dt>
    <dd>Ruby's Package Manager.</dd>

    <dt><a href='http://github.com/technomancy/swank-clojure'>Swank Clojure</a> (Clojure)</dt>
    <dd>An adapter allowing <a href='http://common-lisp.net/project/slime/'>SLIME</a>
    to be used with Clojure. I maintain this project.</dd>

    <dt><a href="http://rubyhitsquad.com/Vlad_the_Deployer.html">Vlad
    the Deployer</a> (Ruby)</dt>
    <dd>Pragmatic deployment automation, without mercy.</dd>
  </dl>

  <h4>Created</h4>
  <dl>
    <dt><a href='http://augment.rubyforge.org'>Augment</a> (Ruby)</dt>
    <dd>A framework for gathering metadata from code and displaying
      it. Featured in <a href='http://hagelb.org/feedback_loop.avi'>my
        talk from RubyConf 07</a>.</dd>

    <dt><a href='http://bus-scheme.rubyforge.org'>Bus Scheme</a> (Ruby)</dt>
    <dd>A Scheme interpreter written in Ruby, but implemented on the bus! I 
    <a href='http://technomancy.us/116'>spoke briefly about this</a> at RubyConf 08.</dd>

    <dt><a href='http://github.com/technomancy/clojure-gem>Clojure Gem</a> (Ruby)</dt>
    <dd>An adapter for using Clojure's immutable data structures and
      software transactional memory from JRuby.</dd>

    <dt><a href='http://github.com/technomancy/emacs-starter-kit'>Emacs Starter Kit</a> (ELisp)</dt>
    <dd>A set of dotfiles that provides better defaults and bundles other useful 
    libraries for Emacs users. Used by thousands of developers.</dd>

    <dt><a href='http://github.com/technomancy/ferrante'>Ferrante</a> (Mirah)</dt>
    <dd>An Android application allowing two users to navigate towards
      each other.</dd>

    <dt><a href='http://github.com/technomancy/harker'>Harker</a> (Ruby)</dt>
    <dd>A tool to deploy Rails applications using RubyGems.</dd>

    <dt><a href='http://github.com/technomancy/leiningen'>Leiningen</a>
    (Clojure)</dt>
    <dd>A build tool for Clojure designed to not set your hair on
      fire. Used by thousands of developers.</dd>

    <dt><a href='http://github.com/technomancy/mire'>Mire</a> (Clojure)</dt>
    <dd>A multiplayer text adventure engine.</dd>

    <dt><a href='http://github.com/mirah/pindah'>Pindah</a> (Mirah)</dt>
    <dd>A tool for building Android applications with Mirah.</dd>

    <dt><a href='http://github.com/technomancy/relax.el'>Relax.el</a> (ELisp)</dt>
    <dd>An Emacs frontend interface to CouchDB.</dd>

    <dt><a href='http:/rinari.rubyforge.org'>Rinari</a> (ELisp)</dt>
    <dd>An Emacs mode for writing Ruby on Rails
      applications. Maintainership has passed to Eric Schulte and
      Steve Purcell.</dd>

    <dt>Miscellaneous Emacs Libraries</dt>
    <dd><a href='http://www.emacswiki.org/cgi-bin/wiki/FindFileInProject'>find-file-in-project.el</a>,
      <a href='http://www.emacswiki.org/cgi-bin/wiki/IdleHighlight'>idle-highlight.el</a>,
      <a href='http://www.emacswiki.org/cgi-bin/wiki/ProjectLocalVariables'>project-local-variables.el</a>,
      <a href='http://github.com/technomancy/ri.el'>ri.el</a>,
      <a href='http://www.emacswiki.org/cgi-bin/wiki/SCPaste'>scpaste.el</a>, and
      <a href='http://www.emacswiki.org/cgi-bin/wiki/Steersman'>steersman.el</a>.
    </dd>
  </dl>

  <h4>Presentations</h4>
  <dl>
    <dt><a href="http://first.clojure-conj.org/speakers#hagelberg">Making Leiningen work for you</a></dt>
    <dd>A presentation given at Clojure Conj 2010 on Leiningen, the
      build tool.</p>

    <dt><a href='http://peepcode.com/products/functional-programming-with-clojure'>Functional
    Programming with Clojure &ndash; Peepcode</a></dt>
    <dd>A screencast teaching functional programming with the Clojure
     programming language. The first published commercial
     documentation released for the language. I wrote the script, but
     Geoffrey Grosenbach did the visuals and narration.</dd>

    <dt><a href='http://peepcode.com/products/meet-emacs'>Meet Emacs &ndash; Peepcode</a></dt>
    <dd>An hour-long screencast tutorial introducing the GNU Emacs
    editor. Again, I wrote the script only.</dd>

    <dt><a href='/93'>Tightening the Feedback Loop</a> [<a href="/misc/feedback_loop.avi">video</a>]</dt>
    <dd>A presentation given at RubyConf 2007 on measuring and
    improving programming habits.</dd>
  </dl>

  <h4>Deprecated</h4>
  <dl>
    <dt><a href='http://github.com/technomancy/clojure-http-client'>Clojure HTTP Client</a> (Clojure)</dt>
    <dd>An HTTP client for the Clojure language. Deprecated in favor of
      <a href='http://github.com/clj-sys/clj-http'>clj-http</a>.</dd>

    <dt><a href='http://concourse.technomancy.us/'>Concourse</a> (Ruby)</dt>
    <dd>A web application to help schedule gatherings among participants
      with varying schedules. My <a href='/47'>entry for Railsday
        06</a>.</dd>

    <dt><a href='http://github.com/technomancy/conspire'>Conspire</a> (Ruby)</dt>
    <dd>A real-time collaborative editing platform using Git as a
      transport layer. Deprecated in favor of <a href='http://rudel.sf.net'>Rudel</a>.</dd>

    <dt><a href='/47'>Ebby</a> (ELisp)</dt>
    <dd>An implementation of the Obby collaborative protocol (version 0.3) for
      Emacs. Deprecated in favor of <a href='http://rudel.sf.net'>Rudel</a>.</dd>

    <dt><a href='/59'>ElUnit</a> (ELisp)</dt>
    <dd>A testing framework for Emacs Lisp. Deprecated in favor
    of <a href='http://www.emacswiki.org/cgi-bin/wiki/ErtTestLibrary'>ERT</a>.</dd>

    <dt><a href='http://rubyforge.org/projects/gitjour/'>Gitjour</a> (Ruby)</dt>
    <dd>A tool for sharing git repositories on a local network over
      ZeroConf. I maintained this project but did not create
      it. Deprecated in favor of <a href="http://github.com/toolmantim/bananajour">Bananajour</a>.</dd>

    <dt><a href='/28'>RAV</a> (Ruby)</dt>
    <dd>A plugin for visualizing the data model of Rails
    applications. Deprecated in favor
    of <a href='http://railroad.rubyforge.org/'>Railroad</a>.</dd>

    <dt><a href='http://rubyforge.org/projects/rplanet/'>RPlanet</a> (Ruby)</dt>
    <dd>A feed aggregator written in Ruby. Deprecated in favor
    of <a href='http://intertwingly.net/blog/2007/12/19/Yet-Another-Planet-Refactoring'>Mars</a>.</dd>
  </dl>

</div>

<%= including 'footer' %>
