<%= including "header", {:title => 'R&eacute;sum&eacute;' } %>

<div id='resume'>
  <div style='text-align: center;'>
    <a name='top'></a><h2>Philip N. Hagelberg</h2>
    <address>techno<span style='display: none;'>!nospamthankyou!</span>mancy@gmail.com</address>
  </div>

  <div>
    <a name='work'></a><h3>Work Experience</h3>
    <p><b>Developer</b> <a href='http://www.evri.com'>Evri</a>, Seattle, WA</p>
    <ul>
      <li>Wrote a system to gather documents from feed
        subscriptions. Scaled out to many distributed nodes and
        millions of documents.</li>
    </ul>
    <p>[August 2007 - present]</p>


    <p><b>Web Developer</b> <a href='http://i5labs.com'>i5 Labs</a>, San Francisco, CA</p>
    <ul>
      <li>Build a social networking site in Rails with a small team.</li>
      <li>Used test-driven techniques to ensure stability and quality.</li> 
    </ul>
    <p>[December 2006 - August 2007]</p>

    <p><b>Lead Developer</b> Ujive, Los Angeles, CA</p>
    <ul>
      <li>Refactored a beleaguered Rails concert search application by
      adding tests, reducing LOC count, and enforcing cleanliness in
      the code base.</li>
    </ul>
    <p>[July 2006 - October 2006]</p>

    <p><b>Lead Developer</b> <a href='http://www.paxtel.com'>Paxtel</a>, Yakima, WA </p>
    <ul>
      <li>Created a test-driven Rails web application to view
      diagnostics and map location of fleets of
      vehicles.</li> <li>Maintained a dedicated Debian GNU/Linux
      server.</li>
      <li>Connected the application to a nationwide RF network by
      handling a proprietary socket-level vehicle communications
      protocol.</li>
      <!-- <li>Was <i>not</i> responsible for the many grammatical
      mistakes on the home page but rather encouraged that it be
      proofread and edited again before publishing.</li> -->
    </ul>
    <p>[August 2005 - October 2006]</p>

    <!-- <p> <b>Web Developer</b> <a href='http://www.biola.edu/academics/torrey'> Torrey Honors Institute</a>, Biola University, La Mirada, CA<br /> </p> <ul> <li>Brought Biola's old periodical <a href='http://www2.biola.edu/kingsbusiness'> The King's Business</a> online.</li> <li>Created a web presence for <a href='http://www2.biola.edu/torrey/symposium'>The Symposium</a>, Torrey's academic journal.</li> <li>Created a <a href='http://www2.biola.edu/torrey/calendar'>web export</a> for <a href='http://www.nowsoftware.com/products/' title='terribly crufty program'>Now Up-To-Date</a> integrating the iCalendar standard.</li> </ul> <p> [April 2005 - December 2005] </p>


  <p> <b>Web Developer</b> <a href='http://www.wheatstoneacademy.org'>Wheatstone Academy</a>, La Mirada, CA<br /> </p> <ul> <li>Created and maintained a <a href='http://wheatstoneacademy.com'>standards-compliant, attractive site</a> to inform and facilitate interaction.</li> <li>Implemented an integrated student forum.</li> <li>Brought multimedia such as photo galleries and lectures online.</li> <li>Maintained and enhanced a web-based contacts database.</li> </ul> <p> [March 2004 - August 2004] <br /> [January 2005 - October 2005] </p>

  <p> <b>Web Developer</b> for Biola <a href='http://www.biola.edu/studentlife'>Student Affairs</a>, La Mirada, CA<br /> </p> <ul> <li>Designed and implemented new sites for various Student Affairs departments.</li> <li>Developed <a href='http://eigen.biola.edu'>Eigen</a>, Biola's pilot online social networking site.</li> <li>Maintained existing sites.</li> </ul> <p> [August 2004 - July 2005] </p> -->

  </div>

  <div>
    <a name='skills'></a><h3>Skills</h3>
    <p>I have been programming computers since 1995.</p>

    Specifically: 
    <dl>
      <dt><i>Languages</i></dt>
      <dd>Proficient in
        <a href='http://www.w3.org/markup/'>(X)HTML</a>,
        <a href='http://www.ruby-lang.org'>Ruby</a>,
        <a href='http://github.com/technomancy/emacs-starter-kit'>Emacs Lisp</a>, and
        <a href='http://bus-scheme.rubyforge.org'>Scheme</a>,
        <a href='http://www.ecma-international.org/publications/standards/Ecma-262.htm'>ECMAScript</a> (aka Livescript, Javascript).

        Experience in
        <a href='http://clojure.org'>Clojure</a>,
        <a href='http://www.gigamonkeys.com/book'>Common LISP</a>,
        <a href='http://www.sql.org'>SQL</a>,
        <a href='http://www.mozilla.org/projects/xul'>XUL</a>, 
        <a href='http://www.python.org'>Python</a>, and 
        <a href='http://www.w3.org/Style/CSS/'>CSS</a>.
        <!-- Extensive 'to learn' list; won't get into that here... -->
      </dd>

      <dt><i>Operating Systems</i></dt>
      <dd><a href='http://www.kernel.org'>GNU/Linux</a> since 2003 on the server and desktop;
        <a href='http://www.apple.com/macosx'>Mac OS</a> from 1990 - 2003.
        Some <a href='http://www.freebsd.org'>FreeBSD</a>.
      </dd>

      <dt><i>Tools</i></dt>
      <dd>Knowledgeable concerning
        <a href='http://www.gnu.org/software/emacs/emacs.html' title='Oops, this belongs in Operating Systems.'>GNU Emacs</a>,
        <a href='http://www.rubyonrails.org'>Ruby on Rails</a>,
        <a href='http://rubyforge.org/projects/rack'>Rack</a>,
        <a href='http://testunit.talbott.ws/'>Test::Unit/Mini::Test</a>,
        <a href='http://jquery.com'>jQuery</a>,
        <a href='http://prototypejs.org'>Prototype</a>,
        <a href='http://git.or.cz'>Git</a>,
        <a href='http://subversion.tigris.org'>Subversion</a>,
        <a href='http://http://nubyonrails.com/articles/tutorial-publishing-rubygems-with-hoe'>hoe</a>,
        <a href='http://rubyhitsquad.com/Vlad_the_Deployer.html'>Vlad the Deployer</a>,
        <a href='http://nginx.net'>nginx</a>,
        <a href='http://mongrel.rubyforge.org'>Mongrel</a>, and more.</dd>
    </dl>
  </div>

  <div id='contributions'>
    <a name='contributions'></a><h3>Free Software Contributions</h3>

    <h4>Contributed To</h4>
    <ul>
      <li><a href='http://gnu.org/software/emacs'>GNU Emacs</a></li>
      <li><a href='http://ruby-lang.org'>Ruby</a></li>
      <li><a href='http://rubini.us'>Rubinius</a></li>
      <li><a href='http://jruby.org'>JRuby</a></li>
      <li><a href='http://rubyonrails.org'>Ruby on Rails</a></li>
      <li><a href='http://conkeror.org'>Conkeror</a></li>
      <li><a href='http://rubyforge.org/projects/rubygems'>RubyGems</a></li>
      <li><a href='http://rubyforge.org/projects/rdoc'>RDoc</a></li>
      <li><a href='http://rubyforge.org/projects/rfeedparser'>RFeedParser</a></li>
      <li><a href='http://rubyforge.org/projects/rack'>Rack</a></li>
      <li><a href='http://github.com/technomancy/mars'>Mars</a></li>
      <li><a href='http://rubyhitsquad.com/Vlad_the_Deployer.html'>Vlad</a></li>
      <li><a href='http://www.emacswiki.org/cgi-bin/wiki/ErtTesting'>ERT</a></li>
      <li><a href='http://github.com/technomancy/magit'>Magit</a></li>
    </ul>

    <h4 style='clear: both'>Initiated</h4>
    <ul>
      <li><a href='http://augment.rubyforge.org'>Augment</a></li>
      <li><a href='http://github.com/technomancy/bludgeon'>Bludgeon</a></li>
      <li><a href='http://bus-scheme.rubyforge.org'>Bus Scheme</a></li>
      <li><a href='http://conspire.rubyforge.org'>Conspire</a></li>
      <li><a href='http://dev.technomancy.us/ebby'>Ebby</a></li>
      <li><a href='http://www.emacswiki.org/cgi-bin/wiki/ElUnit'>ElUnit</a></li>
      <li><a href='http://github.com/technomancy/emacs-starter-kit'>Emacs Starter Kit</a></li>
      <li><a href='http://roastbeef.rubyforge.org'>Roast Beef</a></li>
      <li><a href='http://rinari.rubyforge.org'>Rinari</a></li>
      <li><a href='http://github.com/technomancy/ri-emacs'>ri.el</a></li>
      <li><a href='http://rubyforge.org/projects/rplanet'>RPlanet</a></li>
      <li><a href='http://rav.rubyforge.org'>RAV</a></li>
      <li><a href='http://github.com/technomancy/watcher_in_the_water'>Watcher in the Water</a></li>
      <li><a href='/55'>RuseMail</a></li>
    </ul>

    <p style='clear: both'><a href='/projects'>Details</a></p>

    <!--
      <li><b>Systems Administrator of Biola University's Linux
      lab</b>: <br />Responsible for the installation and maintenance
      of a set of GNU/Linux machines
      running <a href='http://www.ubuntulinux.org'>Ubuntu</a>. Upkept
      a server for students' web and database needs as well as a
      seperate server for network services such as NFS and NIS.
      <br /> [July 2004 - May 2005]</li>

    </ul>
    <br />

      <li>Gave a talk at RubyConf 2007 titled
        <a href='/misc/feedback_loop.avi'>'Tightening the Feedback
        Loop'</a>, focusing on ways that programmers could be more
        attentive of the state of their code.
      </li>

      -->
    <p>References and further work samples available upon request.</p>

  </div>

  <div>
    <a name='education'></a> <h3>Education</h3>

    <p><a href='http://www.biola.edu'>Biola University</a>, La Mirada,
      CA (2001 - 2005)<br /> Bachelor of Science degree in Computer
      Science<br /> Graduate of
      the <a href='http://www.biola.edu/academics/torrey'>Torrey
      Honors Institute</a><br /> Magna Cum Laude<br /> </p>

    <p>Voraciously <a href='http://technomancy.us/books'>self-taught</a> </p>
  </div>

  <div>
    <a name='languages'></a><h3>Spoken Languages</h3>

  <ul>
    <li>Native English speaker</li>
    <li>Understand Indonesian/Malaysian</li>
    <!-- <li>Learning Italian slowly</li> -->
    <!-- <li>Can pull of a reasonably convincing Singaporean accent</li> -->
  </ul>

  </div>
  <!-- Thanks for taking time to read the source; you rule! -->
</div>

<%= including "footer" %>
