<%= including "header", {:title => 'R&eacute;sum&eacute;' } %>

<div id='resume'>
  <div style='text-align: center;'>
    <a name='top'></a><h2>Philip N. Hagelberg</h2>
    <address>techno<span style='display: none;'>¡no spam thank you!</span>mancy@gmail.com</address>
  </div>

  <div>
    <a name='skills'></a><h3>Skills</h3>
    <dl>
      <dt>Languages</dt>
      <dd>Proficient in
        <a href='http://clojure.org'>Clojure</a>,
        <a href='http://github.com/technomancy/emacs-starter-kit'>Emacs Lisp</a>, and
        <a href='http://www.ruby-lang.org'>Ruby</a>.
        Experience with
        <a href='http://caml.inria.fr/'>OCaml</a>,
        <a href='http://www.mirah.org'>Mirah</a>,
        <a href='http://bus-scheme.rubyforge.org'>Scheme</a>, and
        <a href='http://www.ecma-international.org/publications/standards/Ecma-262.htm'>LiveScript</a> (aka ECMAScript, Javascript).

        <!-- 1995 - QBasic
             2002 - C++ (long since forgotten, thankfully)
             2003 - SQL
             2004 - PHP
             2005 - Ruby
             2006 - Emacs Lisp
             2007 - Javascript
             2008 - Scheme
             2009 - Clojure, Processing
             2010 - Duby
             2011 - Mirah, OCaml
             ???? - Factor, Datalog, Logo, J, Self, Haskell, Erlang, R
          -->
      </dd>

      <dt>Operating Systems</dt>
      <dd><a href='http://www.ubuntu.com'>GNU/Linux</a> since 2003 on
        the server and desktop; Mac OS from 1994 - 2003.
      </dd>

      <dt>Tools</dt>
      <dd>Knowledgeable concerning
        <a href='http://www.gnu.org/software/emacs/emacs.html' title='Oops, this belongs in Operating Systems.'>GNU Emacs</a>,
        <a href='http://common-lisp.net/project/slime/'>SLIME</a>,
        <a href='https://github.com/technomancy/leiningen'>Leiningen</a>,
        <a href='http://lucene.apache.org'>Lucene</a>,
        <a href='http://www.debian.org/distrib/packages'>Debian packaging</a>,
        <a href='http://rabbitmq.com'>AMQP</a>,
        <a href='http://git.or.cz'>Git</a>,
        <a href='http://http://wiki.opscode.com/display/chef/'>Chef</a>,
        <a href='http://www.rubyonrails.org'>Rails</a>,
        <a href='http://rubyforge.org/projects/rack'>Rack</a>,
        <a href='http://rubyhitsquad.com/Vlad_the_Deployer.html'>Vlad the Deployer</a>,
        <a href='http://nginx.net'>nginx</a>, and more.</dd>
    </dl>
  </div>

  <div id='contributions'>
    <a name='contributions'></a><h3>Free Software Contributions</h3>
    <!-- TODO: generate this list automatically from the projects list -->

    <dl>
      <dt>Contributed to:</dt>
      <dd>
        <a href='http://gnu.org/software/emacs'>GNU Emacs</a>,
        <a href='http://clojure.org'>Clojure</a>,
        <a href='http://ruby-lang.org'>Ruby</a>,
        <a href='http://rubini.us'>Rubinius</a>,
        <a href='http://jruby.org'>JRuby</a>,
        <a href='http://rubyonrails.org'>Ruby on Rails</a>,
        <a href='http://conkeror.org'>Conkeror</a>,
        <a href='http://rubyforge.org/projects/rubygems'>RubyGems</a>,
        <a href='http://rubyforge.org/projects/rdoc'>RDoc</a>,
        <a href='http://rubyforge.org/projects/rfeedparser'>RFeedParser</a>,
        <a href='http://github.com/jclouds/jclouds'>JClouds</a>,
        <a href='http://rubyforge.org/projects/rack'>Rack</a>,
        <a href='http://github.com/technomancy/mars'>Mars</a>,
        <a href='http://github.com/whymirror/hpricot'>Hpricot</a>,
        <a href='http://www.mirah.org'>Mirah</a>,
        <a href='http://rudel.sourceforge.net'>Rudel</a>,
        <a href='http://rubyhitsquad.com/Vlad_the_Deployer.html'>Vlad
          the Deployer</a>,
        <a href='http://www.emacswiki.org/cgi-bin/wiki/ErtTesting'>ERT</a>, and
        <a href='http://github.com/technomancy/magit'>Magit</a>
      </dd>

      <dt>Took over Maintenance of:</dt>
      <dd>
        <a href='http://github.com/technomancy/swank-clojure'>Swank-Clojure</a>,
        <a href='http://github.com/technomancy/clojure-mode'>Clojure Mode</a>,
        <a href='http://tromey.com/elpa'>package.el</a>, and
        <a href='http://rubyforge.org/projects/gitjour'>Gitjour</a>
      </dd>

      <dt>Created:</dt>
      <dd>
        <a href='http://github.com/technomancy/leiningen'>Leiningen</a>,
        <a href='http://github.com/technomancy/emacs-starter-kit'>Emacs Starter Kit</a>,
        <a href='http://rinari.rubyforge.org'>Rinari</a>,
        <a href='http://github.com/technomancy/slamhound'>Slamhound</a>,
        <a href='http://github.com/technomancy/pindah'>Pindah</a>, and
        <a href='http://bus-scheme.rubyforge.org'>Bus Scheme</a>.
      </dd>
    </dl>

    <!-- Suggested the new name "Jenkins" for the Hudson project. -->

    <p style='clear: both'><a href='/projects'>Details</a></p>
  </div>

  <div>
    <a name='work'></a><h3>Work Experience</h3>

    <p><a href='http://sonian.net'>Sonian</a>, Newton, MA [April 2009 - September 2011]</p>
    <ul>
      <li>Helped design and implement a document parsing, indexing, and archival
        pipeline functioning at petabyte level.</li>
    </ul>

    <p><a href='http://www.evri.com'>Evri</a>, Seattle, WA [August 2007 - March 2009]</p>
    <ul>
      <li>Wrote a system in JRuby to gather documents for an NLP
        indexing system from feed subscriptions and crawling which
        scaled out to many distributed nodes and millions of
        documents.</li>
      <li>Helped build a web application allowing people to see at a
        glance how entites are connected to other things in the
        news.</li>
    </ul>

    <p><a href='http://i5labs.com'>i5 Labs</a>, San Francisco, CA [December 2006 - August 2007]</p>
    <ul>
      <li>Build a social networking site in Rails with a small team.</li>
      <li>Used test-driven techniques to ensure stability and quality.</li> 
    </ul>

    <p>Paxtel, Yakima, WA [August 2005 - October 2006]</p>
    <ul>
      <li>Created a Rails web application to view diagnostics and map
        location of fleets of vehicles.</li>
      <li>Connected the application to a nationwide RF network by
        handling a custom socket-level vehicle communications
        protocol.</li>
    </ul>
  </div>

  <div>
    <a name='other'></a> <h3>Other</h3>

    <p>Voraciously <a href='http://technomancy.us/books'>self-taught</a>.</p>

    <p>Founded <a href='http://seajure.github.com'>Seajure</a>,
      the Seattle Clojure group.</p>

    <p>Native English speaker, fluent in
      Indonesian/Malaysian.<!-- with a pretty decent accent --></p>

    <p>Graduate of the <a href='http://www.biola.edu/academics/torrey'>Torrey
      Honors Institute</a>.</p>

    <p><a href='http://www.biola.edu'>Bachelor of Science degree</a>
      in Computer Science, Magna Cum Laude.</p>

  </div>

  <!-- Thanks for taking time to read the source.-->
</div>

<%= including "footer" %>
