<div id='sidebar'>

        <h3>What you say?</h3>

        <p class='explain'>These are the technology musings of Phil
        Hagelberg. I write Ruby and Javascript code for a living, but I also spend a lot of
        time considering how to do so in the most efficient manner. This
        necessarily involves good-sized chunks of Emacs lisp.</p>

        <p class='explain'>I've got a separate <a href="http://philisha.net">blog for
        personal thoughts</a> and a <a href="http://dev.technomancy.us">wiki</a>
        for my projects.</p>

        <form action='http://www.google.com/search' name='searchbox' method='get'>
          <input type='hidden' name='sitesearch' value='technomancy.us' />
          <input type='text' name='q' size='9' value='Search' class='form-text'
                 onfocus="if (this.value=='Search') value='';"
                 onblur="if (this.value=='') value='Search';" />
          <input type='submit' value='&#187;' class='button' title="Because I didn't want to code search myself" />
        </form>

        <p><a href='/feed/atom' title='Syndication is your friend'><img src='/static/i/feedIcon.png' alt='feed' align='left' /> Feed</a></p>

        <h3>Fellow Hackers</h3>
        <ul>
          <li><a href='http://arko.net/' rel='friend met colleague'>andr&eacute; arko</a></li>
          <li><a href='http://brainspl.at' rel='friend met colleague'>ezra Z</a></li>
          <li><a href='http://blog.livollmers.net/' rel='friend colleague met'>alex</a></li>
          <li><a href='http://userprimary.net/user' rel='frient colleague met'>seth</a></li>
          <li><a href='http://www.lathi.net' rel='friend colleague met'>doug alcorn</a></li>
          <li><a href='http://blog.hasmanythrough.com' rel='friend colleague met'>josh susser</a></li>
          <li><a href='http://yehudakatz.com'>katz</a></li>
          <li><a href='http://evil.che.lu' rel='friend colleague'>evilchelu</a></li>
          <li><a href='http://jw.fi' rel='friend colleague'>unfo-</a></li>
          <li><a href='http://metaatem.com' rel='friend colleague met'>kastner</a></li>
          <li><a href='http://www.anarchaia.org/'>anarchaia</a></li>
          <li><a href='http://blog.codahale.com' rel='friend colleague met'>coda hale</a></li>
          <li><a href='http://gilesbowkett.blogspot.com' rel='colleague'>giles bowkett</a></li>
          <li><a href='http://on-ruby.blogspot.com/' rel='colleague met'>pate</a></li>
          <li><a href='http://schneier.com/blog' title='SecurityInsight'>bruce schneier</a></li>
	  <li><a href='http://weblog.raganwald.com'>raganwald</a></li>
          <li><a href='http://tbray.org/ongoing' rel='met' title='t1m'>tim bray</a></li>
          <li><a href='http://diveintomark.org'>mark pilgrim</a></li>
          <li><a href='http://intertwingly.net'>sam ruby</a></li>
          <li><a href='http://hackety.org' rel='met'>hackety</a></li>
          <li><a href='http://redhanded.hobix.com/' rel='met' title='Lucky Stiff and Friends'>redHanded</a></li>
          <li><a href='http://eigenclass.org' title="maybe if i read this more often i'll get smarter and understand it">mauricio</a></li>
          <li><a href='http://onestepback.org' title='the santa claus of Ruby'>jim weirich</a></li>
          <li><a href='http://ejohn.org'>john resig</a></li>
          <li><a href='http://steve-yegge.blogspot.com/' title='mostly he is listed because of emacs'>steve yegge</a></li>
        </ul>

        <h3 title='aggregation is key here'>Communities</h3>
        <ul>
          <li><a href='http://planet.lisp.org' title="(grok 'lisp)">lisp</a></li>
          <li><a href='http://planet.emacsen.org' title='denizens of #emacs'>emacs</a></li>
          <li><a href='http://planetruby.0x42.net' title='Yes, it runs on Python'>ruby</a></li>
          <li><a href='http://planet.caboo.se' title='my latest planet'>caboose</a></li>
          <li><a href='http://planet.ubuntu.com' title='humanity'>ubuntu</a></li>
          <li><a href='http://jquery.com/blog' title='js is fun again'>jquery</a></li>
        </ul>

        <h3><a href='http://dev.technomancy.us/'>Projects</a></h3>
        <ul>
          <li><a href='http://bus-scheme.rubyforge.org'>bus scheme</a></li>
          <li><a href='http://augment.rubyforge.org'>augment</a></li>
          <li><a href='http://www.emacswiki.org/cgi-bin/wiki/ElUnit' title='Emacs Lisp TDD'>elunit</a></li>
          <li><a href='http://rinari.rubyforge.org' title='rails emacs mode'>rinari</a></li>
          <li><a href='http://concour.se' title='railsday 06 project'>Concourse</a></li>
          <li><a href='http://rubyforge.org/projects/rplanet' title='Feed Aggregator'>rPlanet</a></li>
          <li><a href='http://rav.rubyforge.org/' title='Rails Application Visualizer'>rav</a></li>
          <li><a href='http://cartographer.rubyforge.org' title='Google Maps in Rails'>Cartographer</a></li>
          <li><a href='http://dev.technomancy.us/ebby' title='collaborative editing with Emacs'>ebby</a></li>
        </ul>

      </div><!-- end sidebar -->
